<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!--Override Config Selection for local runs-->
    <add key="MakeFullDisplayScreenshots" value="true" />
    <!--Timeouts-->
    <add key="timeout" value="90" />
    <add key="WebDriverCommandTimeout" value="200" />
    <!--Timeouts-->
    <!--Google mailbox properties-->
    <add key="MailImapUrl" value="imaps://imap.gmail.com" />
    <add key="MailSsl" value="true" />
    <add key="MailPort" value="993" />
    <add key="MailLogin" value="potomactestbox@gmail.com" />
    <add key="MailPassword" value="1thomson!" />
    <!--Google mailbox properties-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.232" newVersion="2.0.0.232" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>